.floatingdiv {
  justify-content: space-around;
  display: flex;
  background: white;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  align-items: center;
  padding: 0px 25px 0px 0px;
  height: 4.3rem;
  width: 8rem;
}
.floatingdiv > img {
  transform: scale(50%);
}
.floatingdiv > span {
  font-family: sans-serif;
  font-size: 16px;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
